{
  "arrowParens": "always",
  "bracketSpacing": true,
  "importOrder": [
    "^next",
    "^react",
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/Components/.*$",
    "^[./](?!.*\\.module\\.scss$)(?!.*\\.(jpg|jpeg|png|svg)$)(?!.*Types).*",
    "",
    "^@/stores/.*$",
    "",
    "^@/Assets/.*$",
    "^.*\\.(jpg|jpeg|png)$",
    "^.*\\.svg$",
    "",
    "^.*[Tt]ypes$",
    "^.*[Tt]ypes/.*$",
    "^.*[Ii]nterfaces/.*$",
    "",
    ".*\\.module\\.scss$"
  ],
  "jsxSingleQuote": false,
  "plugins": ["prettier-plugin-sort-json", "@ianvs/prettier-plugin-sort-imports"],
  "printWidth": 80,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5"
}
