@use '@/styles/index.scss' as *;

.header {
  padding: $spacing-md $spacing-lg;
  background-color: $bg-primary;
  border-bottom: 1px solid $white-050;
}

.headerContainer {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $spacing-lg;
}

.navigation {
  margin: auto;
  max-width: 1400px;
  display: flex;
  align-items: center;
  gap: $spacing-lg;
}

.navigationList {
  display: flex;
  gap: $spacing-sm;

  @include tablet {
    gap: $spacing-md;
  }

  @include desktop {
    gap: $spacing-lg;
  }

  @include large-desktop {
    gap: $spacing-xl;
  }
}
