@use '@/styles/index.scss' as *;

.notFound {
  padding: $spacing-xl $spacing-lg;
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-primary;
}

.container {
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-lg;
}

.code {
  margin: 0;
  color: $text-primary;
  font-size: 80px;
  line-height: 1;
  font-weight: $font-weight-bold;

  @include tablet {
    font-size: 120px;
  }
}

.title {
  margin: 0;
  color: $text-primary;
}

.description {
  margin: 0;
  max-width: 400px;
  color: $text-secondary;
}
