@use '@/styles/index.scss' as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: $bg-primary;
  color: $text-primary;
  font-family: var(--font-poppins);
}

main {
  min-height: calc(100vh - 181px);

  @include tablet {
    min-height: calc(100vh - 144px);
  }

  @include large-desktop {
    min-height: calc(100vh - 144px);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

// Базовые стили типографики
h1,
h2,
h3,
h4,
h5,
h6,
p {
  cursor: default;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
