@use '@/styles/index.scss' as *;

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
}

.fullWidth {
  width: 100%;
}

.label {
  color: $text-secondary;
  font-weight: 500;
}

.input {
  padding: $spacing-sm $spacing-md;
  border: 1px solid $black-040;
  border-radius: $border-radius-md;
  font-size: $font-size-base;
  line-height: $line-height-base;
  transition: border-color $transition-base;

  &:focus {
    border-color: $primary-color;
    outline: none;
  }

  &::placeholder {
    color: $text-tertiary;
  }
}

.error {
  border-color: $error-color;
}

.errorText {
  color: $error-color;
}
